body
{
    margin: 0 auto;
    background-image: url("../img/background.jpeg");
}

.zakladki
{
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(10px);
    width: 400px;
    height: 60px;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 1400px;
    animation-name: przyplyw;
    animation-duration: 0.8s;
    -webkit-animation-name: przyplyw;
    -webkit-animation-duration: 0.8s;
}

@keyframes przyplyw {
    0% { opacity: 0; margin-left: 1450px;}
    100% { opacity: 1; margin-left: 1400px;}
}

@-webkit-keyframes przyplyw {
    0% { opacity: 0; margin-left: 1450px;}
    100% { opacity: 1; margin-left: 1400px;}
}

.przyciski
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    background-color: transparent;
    color: #d0cde7;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 35px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.przyciski:hover
{
    color: rgba(208, 205, 231, 0.5);
}

.logout
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #370e61;
    color: #d0cde7;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
    transition-duration: 0.4s;
    margin-top: -36px;
    margin-left: 225px;
}

.logout:hover
{
    box-shadow: 0 0 20px #370e61;
}

.img
{
    position: relative;
    height: 30px;
    right: 5px;
}

/* @keyframes przyplyw2 {
    0% { opacity: 0; margin-top: 130px;}
    100% { opacity: 1; margin-top: 100px;}
}

@-webkit-keyframes przyplyw2 {
    0% { opacity: 0; margin-top: 130px;}
    100% { opacity: 1; margin-top: 100px;}
} */

.box
{
    background-color: rgba(10, 10, 10, 0.6);
    backdrop-filter: blur(10px);
    width: 55%;
    height: auto !important;
    height: 410px;
    min-height: 410px;
    border-radius: 30px;
    margin-left: 22.5%;
    margin-top: 70px;
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.container div
{
    display: flex;
}

.input
{
    background: #04020f;
    width: 90%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.07);
    color: #d0cde7;
    transition-duration: 0.4s;
    border-radius: 8px;
    margin: 10px;
}

.input::placeholder
{
    color: rgba(208, 205, 231, 0.4);
}

.input:hover
{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.select
{
    width: 80%;
    padding: 12px 15px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    color: #d0cde7;
    font-size: 15px;
    background: #04020f;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin: 10px;
}

.select:hover
{
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.label
{
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d0cde7;
    font-size: 30px;
    padding-top: 30px;
}

.label2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(208, 205, 231, 0.6);
    font-size: 18px;
}

.button
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #370e61;
    border: none;
    color: #d0cde7;
    padding: 12px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 930px;
    transition-duration: 0.4s;
}


.button:hover
{
    box-shadow: 0 0 20px #370e61;
}

.tabela
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.tabela th
{
    text-transform: uppercase;
    background: rgba(4, 2, 15, 1);
    color: rgba(208, 205, 231, 0.7);

}

.tabela tr
{
    height: 40px;
    color: rgba(208, 205, 231, 0.5);
}

.tabela tbody tr:nth-of-type(even) {
    background: rgba(4, 2, 15, 0.3);
}

.cross
{
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cross img
{
    width: 25px;
}

img
{
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

footer
{
    color: rgba(208, 205, 231, 0.2);
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
}